body {
    background-color: #34495e;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h2 {
    margin: 0px;
    margin-bottom: 5px;
}

#container {
    width: 50%;
    display: flow-root;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 5%;
}

#back {
    position: fixed;
    left: 100px;
    top: 30px;
    cursor: pointer;
}
#back:hover{
    color: #718093;
}
#back a {
    color: white;
}
#back i {
    margin: 0px;
}

#logout {
    position: fixed;
    right: 100px;
    top: 30px;
    cursor: pointer;
}
#logout:hover{
    color: #718093;
}
#logout i {
    margin: 0px;
}

/*form*/
.form-area {
    background-color: teal;
    padding-top: 40px;
    padding-bottom: 25px;
    /* border-radius: 5px; */
    margin-left: 10%;
    margin-right: 10%;
}

.field-group input {
    width: 80%;
    margin: 10px;
    height: 40px;
    /* border-radius: 5px; */
    border: 0px;
    font-size: 15px;
    background-color:#95a5a6;
    color: white;
    padding-left: 10px;
    outline: none;
}

::-webkit-input-placeholder { /* Edge */
    color: white;
    font-size: 15px;
}  
:-ms-input-placeholder { /* Internet Explorer */
    color: white;
    font-size: 15px;
}  
::placeholder {
    color: rgb(256, 256, 256, 0.5);
    font-size: 15px;
}

.submit {
    background-color:#192a56;
    color: white;
    border: 0px;
    /* border-radius: 5px; */
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.submit:hover {
    color: #95a5a6;
}

#backup {
    position: fixed;
    right: 100px;
    bottom: 30px;
    cursor: pointer;
}
#backup:hover{
    color: #718093;
}
