body {
    background-color: #34495e;
    color: white;
    font-family: 'Roboto', sans-serif;
}
p {
    cursor: pointer;
}
a, u {
    text-decoration: none;
}
#page-area {
    width: 50%;
    display: flow-root;
    margin: auto;
    margin-top: 180px;
}
.page-active {
    background-color: teal;
}
.page-area-ul {
    display: flex;
    list-style: none;
    width: 100%;
}
.page-area-ul-li {
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    float: left;
    cursor: pointer;
    border-radius: 5px;
}
.page-area-ul-li:hover {
    background-color: #95a5a6;
}

.page-area-ul-li-a {
    color: white;
}
.page-area-ul-li:hover a{
    color: teal;
}
#page-mix {
    right: 27%;
    cursor: pointer;
    float: right;
    position: absolute;
    top: 193px;
}
#container {
    width: 50%;
    display: flow-root;
    margin: auto;
    margin-bottom: 520px;
    text-align: center;
}
.row{}
.left-area {width: 90%; float: left; min-height: 130px;}
.en-word {font-size: 35px; margin-top: 5%;}
.en-word label {cursor: pointer;}
.en-example {font-size: 18px;}
.right-area {width: 10%; float: right;}
.description {min-height: 65px; background-color: #192a56; cursor: pointer;}
.tr-word {min-height: 65px; background-color: #718093; cursor: pointer;}
.fa-2x {margin-top: 15px;}
.first-color {background-color: #95a5a6;}
.second-color {background-color: teal;}

#mix {
    position: fixed;
    right: 100px;
    top: 30px;
    cursor: pointer;
}
#mix:hover{
    color: #718093;
}
#mix i {
    margin: 0px;
}
#count {
    position: fixed;
    left: 100px;
    top: 30px;
    cursor: pointer;
}
#count:hover{
    color: #718093;
}
#game {
    position: fixed;
    right: 96px;
    top: 100px;
    cursor: pointer;
}
#game:hover{
    color: #718093;
}
#game i {
    margin: 0px;
}
#focus {
    position: fixed;
    right: 104px;
    top: 180px;
    cursor: pointer;
}
#focus:hover{
    color: #718093;
}
#focus i {
    margin: 0px;
}
#admin {
    position: fixed;
    left: 100px;
    bottom: 30px;
    cursor: pointer;
}
#admin a:hover{
    color: #718093;
}
#admin a {
    color: white;
}
#admin i {
    margin: 0px;
}
#top-button{
    position: fixed;
    right: 100px;
    bottom: 30px;
    cursor: pointer;
}
#top-button a:hover {
    color: #718093;
}
#rank {
    pointer-events:none;
    width: 40%;
}
.voice-button{
    width: 5%;
    float: left;
    position: absolute;
    margin-top: -4%;
    cursor: pointer;
}


/* Responsive */
@media screen and (max-width: 992px) {
    #page-area {
        width: 100%;
    }
    .page-area-ul-li-a {
        font-size: 52px;
    }
    .page-area-ul-li {
        margin-left: 0%;
        margin-right: 2%;
        padding-left: 3%;
        padding-right: 3%;
        margin-bottom: 2%;
    }
    #page-mix {
        right: 4%;
        font-size: 25px;
    }
    #container {
        width: 100%;
    }
    .en-word {
        font-size: 50px; margin-top: 5%;
    }
    .en-example {
        font-size: 24px;
        margin-bottom: 3%;
        margin-top: 1%;
        width: 80%;
        margin-left: 10%;
    }
    .voice-button{
        width: 5%;
        float: left;
        position: absolute;
        margin-top: -7%;
        margin-left: 2%;
    }
    #count {
        left: 44%;
        top: 110px;
        position: absolute;
    }
    #mix {
        display: none;
    }
    #game {
        display: none;
    }
    #focus {
        display: none;
    }
    #admin {
        display: none;
    }
    #top-button{
        right: 140px;
        bottom: 6%;
        z-index: 2;
    }
    #top-button a {
        font-size: 72px;
    }

    
  }
  