body {
    background-color: #34495e;
    color: white;
    font-family: 'Roboto', sans-serif;
}
p {
    cursor: pointer;
}
#container {
    /*background-color: aqua;*/
    width: 50%;
    display: flow-root;
    margin: auto;
    margin-top: 180px;
    margin-bottom: 520px;
    text-align: center;
}
.row{}
.left-area {width: 90%; float: left; height: 130px;}
.en-word {font-size: 35px; margin-top: 5%;}
.en-example {font-size: 18px;}
.right-area {width: 10%; float: right;}
.description {height: 65px; background-color: #192a56; cursor: pointer;}
.tr-word {height: 65px; background-color: #718093; cursor: pointer;}
.fa-2x {margin-top: 15px;}
.first-color {background-color: #95a5a6;}
.second-color {background-color: teal;}

#mix {
    position: fixed;
    right: 100px;
    top: 30px;
    cursor: pointer;
}
#mix:hover{
    color: #718093;
}
#mix i {
    margin: 0px;
}
#count {
    position: fixed;
    left: 100px;
    top: 30px;
    cursor: pointer;
}
#count:hover{
    color: #718093;
}
#game {
    position: fixed;
    right: 100px;
    top: 100px;
    cursor: pointer;
}
#game:hover{
    color: #718093;
}
#game i {
    margin: 0px;
}
#admin {
    position: fixed;
    right: 100px;
    bottom: 30px;
    cursor: pointer;
}
#admin a:hover{
    color: #718093;
}
#admin a {
    color: white;
}
#admin i {
    margin: 0px;
}
#gif {
    pointer-events:none;
}