/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: teal;
    margin: auto;
    padding: 20px;
    border-radius: 4px;
    width: 35%;
    text-align: center;
  }
  
  #show_word {
      color: white;
      font-size: 20px;
  }

  /* Responsive */
@media screen and (max-width: 992px) {

  .modal {
    padding-top: 40%;
  }
  .modal-content {
    width: 90%;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(255,255,255,0.7);
    -moz-box-shadow: 0px 0px 12px 1px rgba(255,255,255,0.7);
    box-shadow: 0px 0px 12px 1px rgba(255,255,255,0.7);
  }
  #show_word {
    font-size: 48px;
  }
  
}
